PSS/Insigma.Eyes.PSS.WinUI/Service References/BLLCustomer/CustomerManagerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerModel" nillable="true" type="tns:CustomerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerModel" nillable="true" type="tns:ArrayOfCustomerModel" />
  <xs:complexType name="CustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telphone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalMoney" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerModel" nillable="true" type="tns:CustomerModel" />
</xs:schema>