PSS/Insigma.Eyes.PSS.WinUI/Service References/BLLCommodity/CommodityManagerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommodityModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommodityModel" nillable="true" type="tns:CommodityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommodityModel" nillable="true" type="tns:ArrayOfCommodityModel" />
  <xs:complexType name="CommodityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Inventory" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telphone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommodityModel" nillable="true" type="tns:CommodityModel" />
  <xs:complexType name="ArrayOfUnitModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitModel" nillable="true" type="tns:UnitModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnitModel" nillable="true" type="tns:ArrayOfUnitModel" />
  <xs:complexType name="UnitModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Line" type="xs:int" />
      <xs:element minOccurs="0" name="Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitModel" nillable="true" type="tns:UnitModel" />
  <xs:complexType name="ArrayOfTypeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeModel" nillable="true" type="tns:TypeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypeModel" nillable="true" type="tns:ArrayOfTypeModel" />
  <xs:complexType name="TypeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Line" type="xs:int" />
      <xs:element minOccurs="0" name="Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeModel" nillable="true" type="tns:TypeModel" />
  <xs:complexType name="ArrayOfManufacturerModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManufacturerModel" nillable="true" type="tns:ManufacturerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManufacturerModel" nillable="true" type="tns:ArrayOfManufacturerModel" />
  <xs:complexType name="ManufacturerModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telphone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManufacturerModel" nillable="true" type="tns:ManufacturerModel" />
</xs:schema>