PSS/Insigma.Eyes.PSS.WinUI/Service References/BLLCommodity/CommodityManagerService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2253/CommodityManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" />
  <xs:element name="GetCommodities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="manufacturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceLow" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceHigh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommoditiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" minOccurs="0" name="GetCommoditiesResult" nillable="true" type="q1:ArrayOfCommodityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommoditiesByCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommoditiesByConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" minOccurs="0" name="GetCommoditiesByConditionResult" nillable="true" type="q2:ArrayOfCommodityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneCommodity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneCommodityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" minOccurs="0" name="GetOneCommodityResult" nillable="true" type="q3:CommodityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommodity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" minOccurs="0" name="oneCommodity" nillable="true" type="q4:CommodityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommodityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" minOccurs="0" name="AddCommodityResult" nillable="true" type="q5:CommodityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommodity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" minOccurs="0" name="commodity" nillable="true" type="q6:CommodityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommodityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCommodityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="person" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" minOccurs="0" name="GetManufacturersResult" nillable="true" type="q7:ArrayOfManufacturerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>