PSS/Insigma.Eyes.PSS.WinUI/Service References/BLLCommodity/CommodityManagerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommodityManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2253/CommodityManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2253/CommodityManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:2253/CommodityManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2253/CommodityManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommodityManagerService_GetCommodities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommodities" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommodities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommoditiesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommodities_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommoditiesByCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommoditiesByCondition" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommoditiesByCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommoditiesByConditionResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetOneCommodity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneCommodity" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetOneCommodity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneCommodityResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddCommodity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCommodity" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddCommodity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommodityResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddCommodity_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateCommodity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommodity" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateCommodity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommodityResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateCommodity_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommdityUnits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommdityUnits" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommdityUnits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommdityUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommdityUnits_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddCommdityUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCommdityUnit" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddCommdityUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommdityUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddCommdityUnit_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateCommdityUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommdityUnit" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateCommdityUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommdityUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateCommdityUnit_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/System" name="detail" element="q6:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommdityTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommdityTypes" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommdityTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommdityTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetCommdityTypes_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/System" name="detail" element="q7:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddCommdityType_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCommdityType" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddCommdityType_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommdityTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddCommdityType_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/System" name="detail" element="q8:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateCommdityType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommdityType" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateCommdityType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommdityTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateCommdityType_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/System" name="detail" element="q9:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetManufacturers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturers" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetManufacturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturersResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_GetManufacturers_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/System" name="detail" element="q10:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddManufacturer" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_AddManufacturer_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/System" name="detail" element="q11:Exception" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateManufacturer" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="ICommodityManagerService_UpdateManufacturer_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/System" name="detail" element="q12:Exception" />
  </wsdl:message>
  <wsdl:portType name="ICommodityManagerService">
    <wsdl:operation name="GetCommodities">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommodities" message="tns:ICommodityManagerService_GetCommodities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommoditiesResponse" message="tns:ICommodityManagerService_GetCommodities_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommoditiesExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_GetCommodities_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommoditiesByCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommoditiesByCondition" message="tns:ICommodityManagerService_GetCommoditiesByCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommoditiesByConditionResponse" message="tns:ICommodityManagerService_GetCommoditiesByCondition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneCommodity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/GetOneCommodity" message="tns:ICommodityManagerService_GetOneCommodity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/GetOneCommodityResponse" message="tns:ICommodityManagerService_GetOneCommodity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommodity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/AddCommodity" message="tns:ICommodityManagerService_AddCommodity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/AddCommodityResponse" message="tns:ICommodityManagerService_AddCommodity_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/AddCommodityExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_AddCommodity_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCommodity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateCommodity" message="tns:ICommodityManagerService_UpdateCommodity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateCommodityResponse" message="tns:ICommodityManagerService_UpdateCommodity_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateCommodityExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_UpdateCommodity_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommdityUnits">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommdityUnits" message="tns:ICommodityManagerService_GetCommdityUnits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommdityUnitsResponse" message="tns:ICommodityManagerService_GetCommdityUnits_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommdityUnitsExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_GetCommdityUnits_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommdityUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/AddCommdityUnit" message="tns:ICommodityManagerService_AddCommdityUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/AddCommdityUnitResponse" message="tns:ICommodityManagerService_AddCommdityUnit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/AddCommdityUnitExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_AddCommdityUnit_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCommdityUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateCommdityUnit" message="tns:ICommodityManagerService_UpdateCommdityUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateCommdityUnitResponse" message="tns:ICommodityManagerService_UpdateCommdityUnit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateCommdityUnitExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_UpdateCommdityUnit_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommdityTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommdityTypes" message="tns:ICommodityManagerService_GetCommdityTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommdityTypesResponse" message="tns:ICommodityManagerService_GetCommdityTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/GetCommdityTypesExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_GetCommdityTypes_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommdityType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/AddCommdityType" message="tns:ICommodityManagerService_AddCommdityType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/AddCommdityTypeResponse" message="tns:ICommodityManagerService_AddCommdityType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/AddCommdityTypeExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_AddCommdityType_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCommdityType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateCommdityType" message="tns:ICommodityManagerService_UpdateCommdityType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateCommdityTypeResponse" message="tns:ICommodityManagerService_UpdateCommdityType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateCommdityTypeExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_UpdateCommdityType_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManufacturers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/GetManufacturers" message="tns:ICommodityManagerService_GetManufacturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/GetManufacturersResponse" message="tns:ICommodityManagerService_GetManufacturers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/GetManufacturersExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_GetManufacturers_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/AddManufacturer" message="tns:ICommodityManagerService_AddManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/AddManufacturerResponse" message="tns:ICommodityManagerService_AddManufacturer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/AddManufacturerExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_AddManufacturer_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateManufacturer" message="tns:ICommodityManagerService_UpdateManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateManufacturerResponse" message="tns:ICommodityManagerService_UpdateManufacturer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommodityManagerService/UpdateManufacturerExceptionFault" name="ExceptionFault" message="tns:ICommodityManagerService_UpdateManufacturer_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommodityManagerService" type="tns:ICommodityManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommodities">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/GetCommodities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCommoditiesByCondition">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/GetCommoditiesByCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneCommodity">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/GetOneCommodity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommodity">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/AddCommodity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCommodity">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/UpdateCommodity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCommdityUnits">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/GetCommdityUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCommdityUnit">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/AddCommdityUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCommdityUnit">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/UpdateCommdityUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCommdityTypes">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/GetCommdityTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCommdityType">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/AddCommdityType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCommdityType">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/UpdateCommdityType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetManufacturers">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/GetManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddManufacturer">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/AddManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturer">
      <soap:operation soapAction="http://tempuri.org/ICommodityManagerService/UpdateManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommodityManagerService">
    <wsdl:port name="BasicHttpBinding_ICommodityManagerService" binding="tns:BasicHttpBinding_ICommodityManagerService">
      <soap:address location="http://localhost:2253/CommodityManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>