PSS/Insigma.Eyes.PSS.WinUI/Service References/BLLPurchaseOrders/PurchaseManagerService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPurchaseOrdersModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrdersModel" nillable="true" type="tns:PurchaseOrdersModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrdersModel" nillable="true" type="tns:ArrayOfPurchaseOrdersModel" />
  <xs:complexType name="PurchaseOrdersModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrdersModel" nillable="true" type="tns:PurchaseOrdersModel" />
  <xs:complexType name="ArrayOfPurchaseCommodityModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseCommodityModel" nillable="true" type="tns:PurchaseCommodityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseCommodityModel" nillable="true" type="tns:ArrayOfPurchaseCommodityModel" />
  <xs:complexType name="PurchaseCommodityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommodityID" type="xs:int" />
      <xs:element minOccurs="0" name="CommodityInventory" type="xs:int" />
      <xs:element minOccurs="0" name="CommodityManufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommodityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommodityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommodityUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommodityUnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaseOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="PurchasePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseCommodityModel" nillable="true" type="tns:PurchaseCommodityModel" />
</xs:schema>