PSS/Insigma.Eyes.PSS.WinUI/Service References/BLLUsers/UserManagerService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Insigma.Eyes.PSS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
</xs:schema>